server:
  port: 8084
spring:
  devtools:
    livereload:
      enabled: true
    restart:
      enabled: false
  freemarker:
    cache: false
    check-template-location: false
  data:
    mongodb:
      host: 127.0.0.1
      port: 27017
      authentication-database: admin
      database: test
      username: tester
      password: qqq123##$$
  rabbitmq:
    host: rabbitmq
    username: guest
    password: guest
    port: 5672
    template:
      exchange: zeromon.agent.topic
      routing-key: zeromon.agent.commander-queue
  datasource:
    url: jdbc:mysql://127.0.0.1:3306/api?serverTimezone=UTC&characterEncoding=UTF-8
    username: root
    password: qqq123##$$
  jpa:
    database-platform: org.hibernate.dialect.MySQL5InnoDBDialect
    properties:
      hibernate:
        globally_quoted_identifiers_skip_column_definitions: true
        globally_quoted_identifiers: true
        dialect: org.hibernate.dialect.MySQL5Dialect
    open-in-view: false

